<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Estaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="reg-list">
    @for (estacion of estacions; track trackId($index, estacion)) {
      <ion-item-sliding #slidingItem>
        <button type="button" class="reg-card {{ estadoClase(estacion.estado) }}" (click)="view(estacion)">
          <span class="reg-card__bar"></span>
          <span class="reg-card__main">
            <span class="reg-card__top">
              <span class="reg-card__code mono">{{ estacion.identificador || ('EST #' + estacion.id) }}</span>
              <span class="badge {{ estadoClase(estacion.estado) }}">{{ estadoLabel(estacion.estado) }}</span>
            </span>
            @if (estacion.tipoEstacion) {
              <span class="reg-card__detail">{{ 'TipoEstacion.' + estacion.tipoEstacion | translate }}</span>
            }
            <span class="reg-card__sub">ID {{ estacion.id }}</span>
          </span>
          <ion-icon name="chevron-forward"></ion-icon>
        </button>
        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="edit(slidingItem, estacion)">
            Editar
          </ion-item-option>
          <ion-item-option color="danger" (click)="delete(estacion)">
            Eliminar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    }
  </div>

  @if (!estacions?.length) {
    <div class="reg-empty">No hay estaciones registradas.</div>
  }

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
