
.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero {
  text-align: center;
  margin-top: 18vh; /* hace que el logo quede arriba sin ser pegado */
}

.hero-logo {
  width: 85%;
  max-width: 420px;
  display: block;
  margin: 0 auto;
}

.hero-tagline {
  margin-top: 12px;
  font-size: 1rem;
  color: #ffffff; /* tu naranja */
  letter-spacing: 1px;
  font-weight: 500;
}

.actions {
  margin-bottom: 40px;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../../assets/img/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}
