<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Área por faena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (form) {
    <form name="form" [formGroup]="form" (ngSubmit)="save()">
      <div class="form-body">
        <ion-item [hidden]="!form.id" class="form-item">
          <ion-label>ID</ion-label>
          <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
        </ion-item>

        <ion-item class="form-item">
          <ion-label position="stacked">Área</ion-label>
          <ion-select interface="popover" id="field_area" formControlName="areaId" [compareWith]="compareArea">
            <ion-select-option [value]="null">Seleccione...</ion-select-option>
            @for (areaOption of areas; track trackAreaById($index, areaOption)) {
              <ion-select-option [value]="areaOption.id">{{ areaOption.nombre || ('Área ' + areaOption.id) }}</ion-select-option>
            }
          </ion-select>
        </ion-item>

        <ion-item class="form-item">
          <ion-label position="stacked">Faena</ion-label>
          <ion-select interface="popover" id="field_faena" formControlName="faenaId" [compareWith]="compareFaena">
            <ion-select-option [value]="null">Seleccione...</ion-select-option>
            @for (faenaOption of faenas; track trackFaenaById($index, faenaOption)) {
              <ion-select-option [value]="faenaOption.id">{{ faenaOption.nombre || ('Faena ' + faenaOption.id) }}</ion-select-option>
            }
          </ion-select>
        </ion-item>
      </div>

      <!-- GUARDAR (sticky) -->
      <div class="save-bar">
        <ion-button expand="block" shape="round" size="large" [disabled]="!isReadyToSave || isSaving" (click)="save()">
          {{ 'DONE_BUTTON' | translate }}
        </ion-button>
      </div>
    </form>
  }
</ion-content>
