<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Áreas por faena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="reg-list">
    @for (areaFaena of areaFaenas; track trackId($index, areaFaena)) {
      <ion-item-sliding #slidingItem>
        <button type="button" class="reg-card" (click)="view(areaFaena)">
          <span class="reg-card__bar"></span>
          <span class="reg-card__main">
            <span class="reg-card__top">
              <span class="reg-card__code mono">AF #{{ areaFaena.id }}</span>
            </span>
            <span class="reg-card__detail">
              {{ areaFaena.area?.nombre || (areaFaena.area?.id ? 'Área ' + areaFaena.area.id : 'Sin área') }}
            </span>
            <span class="reg-card__sub">
              {{ areaFaena.faena?.nombre || (areaFaena.faena?.id ? 'Faena ' + areaFaena.faena.id : 'Sin faena') }}
            </span>
          </span>
          <ion-icon name="chevron-forward"></ion-icon>
        </button>
        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="edit(slidingItem, areaFaena)">
            Editar
          </ion-item-option>
          <ion-item-option color="danger" (click)="delete(areaFaena)">
            Eliminar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    }
  </div>

  @if (!areaFaenas?.length) {
    <div class="reg-empty">No hay áreas por faena registradas.</div>
  }

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
