<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Polín</ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        @if (platform.is('ios')) {
          <span>{{ 'DONE_BUTTON' | translate }}</span>
        } @else {
          <ion-icon name="checkmark"></ion-icon>
        }
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (form) {
    <form name="form" [formGroup]="form" (ngSubmit)="save()">
      <div class="form-body">
        <ion-item [hidden]="true">
          <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
        </ion-item>

        <ion-item class="form-item">
          <ion-label position="stacked">Identificador</ion-label>
          <ion-input type="text" name="identificador" formControlName="identificador"></ion-input>
        </ion-item>

        <ion-item class="form-item">
          <ion-label position="stacked">Descripción</ion-label>
          <ion-input type="text" name="descripcion" formControlName="descripcion"></ion-input>
        </ion-item>

        <ion-item class="form-item">
          <ion-label position="stacked">Posición del polín</ion-label>
          <ion-select interface="popover" formControlName="posicionPolin" id="field_posicionPolin">
            @for (opt of posicionPolinOptions; track opt.value) {
              <ion-select-option [value]="opt.value">{{ opt.label | translate }}</ion-select-option>
            }
          </ion-select>
        </ion-item>

        <ion-item class="form-item">
          <ion-label position="stacked">Tipo de polín</ion-label>
          <ion-select interface="popover" formControlName="tipoPolin" id="field_tipoPolin">
            @for (opt of tipoPolinOptions; track opt.value) {
              <ion-select-option [value]="opt.value">{{ opt.label | translate }}</ion-select-option>
            }
          </ion-select>
        </ion-item>

        <div class="field">
          <div class="field__label">Estado</div>
          <div class="seg-row">
            <button type="button" class="seg seg--ok" [class.active]="form.get('estado').value === 'OPERATIVO'" (click)="form.get('estado').setValue('OPERATIVO')">
              {{ 'Estado.OPERATIVO' | translate }}
            </button>
            <button type="button" class="seg seg--obs" [class.active]="form.get('estado').value === 'OBSERVACION'" (click)="form.get('estado').setValue('OBSERVACION')">
              {{ 'Estado.OBSERVACION' | translate }}
            </button>
            <button type="button" class="seg seg--no" [class.active]="form.get('estado').value === 'NO_OPERATIVO'" (click)="form.get('estado').setValue('NO_OPERATIVO')">
              {{ 'Estado.NO_OPERATIVO' | translate }}
            </button>
          </div>
        </div>

        <ion-item class="form-item">
          <ion-label position="stacked">Código SAP</ion-label>
          <ion-input type="text" name="codigoSap" formControlName="codigoSap" placeholder="Opcional"></ion-input>
        </ion-item>

        <ion-item class="form-item">
          <ion-label position="stacked">Estación</ion-label>
          <ion-select interface="popover" id="field_estacion" formControlName="estacionId" [compareWith]="compareEstacion">
            <ion-select-option [value]="null">Seleccione...</ion-select-option>
            @for (estacionOption of estacions; track trackEstacionById($index, estacionOption)) {
              <ion-select-option [value]="estacionOption.id">{{ estacionOption.id }}</ion-select-option>
            }
          </ion-select>
        </ion-item>
      </div>

      <div class="save-bar">
        <ion-button expand="block" shape="round" size="large" [disabled]="!isReadyToSave" (click)="save()">
          Guardar polín
        </ion-button>
      </div>
    </form>
  }
</ion-content>
