<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mantenimientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button (click)="sync()">Sincronizar</ion-button>
  
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list class="mantenimiento-list">
    @for (mantenimiento of mantenimientos; track trackId($index, mantenimiento)) {
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Mantenimiento #{{ mantenimiento.id }}
          </ion-card-title>
          <ion-card-subtitle>
            {{ mantenimiento.fechaCreacion | date: 'medium' }}
          </ion-card-subtitle>
          <ion-card-subtitle>
            {{ mantenimiento.applicationUser.login }}
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content (click)="view(mantenimiento)" class="card-body-clickable">
          <div class="chips-row">
            <ion-chip color="danger" outline *ngIf="mantenimiento.condicionPolin.toString() === 'NO_OPERATIVO'">
              <ion-label class="chip-text">Condición: No Operativo</ion-label>
            </ion-chip>

            <ion-chip color="warning" outline *ngIf="mantenimiento.condicionPolin.toString() === 'OBSERVACION'">
              <ion-label class="chip-text">Condición: Observación</ion-label>
            </ion-chip>

            <ion-chip color="success" outline *ngIf="mantenimiento.condicionPolin.toString() === 'OPERATIVO'">
              <ion-label class="chip-text">Condición: Operativo</ion-label>
            </ion-chip>
          </div>
        </ion-card-content>

      </ion-card>
    }
  </ion-list>
  @if (!mantenimientos?.length) {
    <ion-item>
      <ion-label> No Mantenimientos found. </ion-label>
    </ion-item>
  }

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
