<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mantenimiento #{{ mantenimiento.id }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="detail-content">
  <!-- SECTION: DATOS GENERALES -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos generales</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="field">
        <div class="field-label">Usuario creación</div>
        <p>{{ mantenimiento.applicationUser.login }}</p>
      </div>

      <div class="field">
        <div class="field-label">Fecha creación</div>
        <p>{{ mantenimiento.fechaCreacion | date: 'medium' }}</p>
      </div>

      <div class="field">
        <div class="field-label">Condición del Polín</div>
        <ion-chip color="danger" *ngIf="mantenimiento.condicionPolin.toString() === 'NO_OPERATIVO'">
          <ion-label class="chip-text">Inmediato</ion-label>
        </ion-chip>

        <ion-chip color="warning" *ngIf="mantenimiento.condicionPolin.toString() === 'OBSERVACION'">
          <ion-label class="chip-text">Urgente</ion-label>
        </ion-chip>

        <ion-chip color="success" *ngIf="mantenimiento.condicionPolin.toString() === 'OPERATIVO'">
          <ion-label class="chip-text">Planificado</ion-label>
        </ion-chip>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- SECTION: POLIN -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Polín inspeccionado</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="field" *ngIf="mantenimiento.polin">
        <div class="field-label">Identificador</div>
        <p>{{ mantenimiento.polin.identificador }}</p>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- SECTION: INSPECCION -->
  @if (mantenimiento.inspeccion) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>Inspección asociada</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="field" *ngIf="mantenimiento.inspeccion">
          <div class="field-label">ID</div>
          <p (click)="openInspeccion(mantenimiento.inspeccion)" style="cursor: pointer">
            {{ mantenimiento.inspeccion.id }}
          </p>
        </div>
      </ion-card-content>
    </ion-card>
  }

  <!-- SECTION: IMÁGENES -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Imágenes</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="img-row">
        <div class="img-block">
          <div class="field-label">Foto general</div>
          <img *ngIf="thumbnailGeneral" [src]="thumbnailGeneral" class="thumb" (click)="openImage(thumbnailGeneral)" />
        </div>

        <div class="img-block">
          <div class="field-label">Detalle del Polín</div>
          <img *ngIf="thumbnailDetallePolin" [src]="thumbnailDetallePolin" class="thumb" (click)="openImage(thumbnailDetallePolin)" />
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="danger" (click)="deleteModal(mantenimiento)">{{ 'DELETE_BUTTON' | translate }}</ion-button>
</ion-content>
<!-- MODAL PARA IMAGEN -->
<ion-modal #modalImagen>
  <ng-template>
    <div class="modal-img-wrapper">
      <ion-icon name="close" class="close-btn" (click)="closeModal()"></ion-icon>
      <img [src]="imagenSeleccionada" />
    </div>
  </ng-template>
</ion-modal>
