<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- Botón central de escaneo (flotante, fuera de la barra para no romper la pestaña activa) -->
<button type="button" class="scan-fab" (click)="goScan()" aria-label="Escanear QR">
  <ion-icon name="scan-outline"></ion-icon>
</button>
