<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inspección</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (form) {
    <form [formGroup]="form">
      <ion-list class="form-list">
        <!-- SELECT FAENA -->
        <ion-item class="form-item">
          <ion-label position="stacked">Faena</ion-label>
          <ion-select
            interface="popover"
            formControlName="faena"
            (ionChange)="loadAreasOptions(form.get('faena').value)"
            [compareWith]="compareFaena"
          >
            <ion-select-option [value]="null">Seleccione...</ion-select-option>
            @for (faenaOption of faenas; track trackFaenaById($index, faenaOption)) {
              <ion-select-option [value]="faenaOption">{{ faenaOption.nombre }}</ion-select-option>
            }
          </ion-select>
        </ion-item>

        <!-- SELECT AREA -->
        <ion-item class="form-item">
          <ion-label position="stacked">Área</ion-label>
          <ion-select
            interface="popover"
            formControlName="area"
            (ionChange)="loadCorreasTransportadorasOptions(form.get('area').value, form.get('faena').value)"
            [compareWith]="compareArea"
          >
            <ion-select-option [value]="null">Seleccione...</ion-select-option>
            @for (areaOption of areas; track trackAreaById($index, areaOption)) {
              <ion-select-option [value]="areaOption">{{ areaOption.nombre }}</ion-select-option>
            }
          </ion-select>
        </ion-item>

        <!-- SELECT CORREA -->
        <ion-item class="form-item">
          <ion-label position="stacked">Correa transportadora</ion-label>
          <ion-select
            interface="popover"
            formControlName="correa"
            (ionChange)="loadMesasTrabajoOptions(form.get('correa').value)"
            [compareWith]="compareCorrea"
          >
            <ion-select-option [value]="null">Seleccione...</ion-select-option>
            @for (correaOption of correas; track trackCorreaTransportadoraById($index, correaOption)) {
              <ion-select-option [value]="correaOption">{{ correaOption.tagId }}</ion-select-option>
            }
          </ion-select>
        </ion-item>

        <!-- SELECT MESA -->
        <ion-item class="form-item">
          <ion-label position="stacked">Mesa de trabajo</ion-label>
          <ion-select
            interface="popover"
            formControlName="mesa"
            (ionChange)="loadEstacionesOptions(form.get('mesa').value)"
            [compareWith]="compareMesa"
          >
            <ion-select-option [value]="null">Seleccione...</ion-select-option>
            @for (mesaOption of mesas; track trackMesaTrabajoById($index, mesaOption)) {
              <ion-select-option [value]="mesaOption">{{ mesaOption.identificador }}</ion-select-option>
            }
          </ion-select>
        </ion-item>

        <!-- SELECT ESTACIÓN -->
        <ion-item class="form-item">
          <ion-label position="stacked">Estación</ion-label>
          <ion-select
            interface="popover"
            formControlName="estacion"
            (ionChange)="loadPolinesOptions(form.get('estacion').value)"
            [compareWith]="compareEstacion"
          >
            <ion-select-option [value]="null">Seleccione...</ion-select-option>
            @for (estacionOption of estaciones; track trackEstacionById($index, estacionOption)) {
              <ion-select-option [value]="estacionOption">{{ estacionOption.identificador }}</ion-select-option>
            }
          </ion-select>
        </ion-item>

        <!-- SELECT POLÍN -->
        <ion-item class="form-item">
          <ion-label position="stacked">Polín</ion-label>
          <ion-select interface="popover" formControlName="polin" [compareWith]="comparePolin">
            <ion-select-option [value]="null">Seleccione...</ion-select-option>
            @for (polinOption of polins; track trackPolinById($index, polinOption)) {
              <ion-select-option [value]="polinOption">{{ polinOption.identificador }}</ion-select-option>
            }
          </ion-select>
        </ion-item>

        <!-- CAMPOS QUE SE OCULTAN SI NO HAY POLIN -->
        @if (form.get('polin').value) {
          <ion-item class="form-item">
            <ion-label position="stacked">Condición del polín</ion-label>
            <ion-select interface="popover" formControlName="condicionPolin">
              @for (key of condicionKeys; track $index) {
                <ion-select-option [value]="key">{{ condicion[key] }}</ion-select-option>
              }
            </ion-select>
          </ion-item>

          <ion-item class="form-item">
            <ion-label position="stacked">Criticidad</ion-label>
            <ion-select interface="popover" formControlName="criticidad">
              @for (key of criticidadKeys; track $index) {
                <ion-select-option [value]="key">{{ criticidad[key] }}</ion-select-option>
              }
            </ion-select>
          </ion-item>

          <ion-item class="form-item">
            <ion-label position="stacked">Observación</ion-label>
            <ion-select interface="popover" formControlName="observacion">
              @for (key of observacionKeys; track $index) {
                <ion-select-option [value]="key">{{ observacion[key] }}</ion-select-option>
              }
            </ion-select>
          </ion-item>

          <ion-item class="form-item">
            <ion-label position="stacked">Comentarios</ion-label>
            <ion-textarea autoGrow="true" formControlName="comentarios" placeholder="Escriba un comentario..."> </ion-textarea>
          </ion-item>

          <ion-item class="form-item">
            <ion-label position="stacked">Imagen General</ion-label>
            <input type="file" accept="image/*" (change)="onFileSelected($event, 'general')" />
          </ion-item>

          <ion-item class="form-item">
            <ion-label position="stacked">Imagen Detalle</ion-label>
            <input type="file" accept="image/*" (change)="onFileSelected($event, 'detalle')" />
          </ion-item>
        }
      </ion-list>

      <!-- BOTÓN GUARDAR -->
      <div class="save-container">
        <ion-button expand="block" shape="round" size="large" [disabled]="!isReadyToSave" (click)="save()"> Guardar Inspección </ion-button>
      </div>
    </form>
  }
</ion-content>
