<ion-header class="login-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <div class="login-wrap">
    <div class="login-brand">
      <img src="assets/img/logo_orex_mobile_full.png" alt="OREX" class="login-brand__logo" />
      <p class="login-brand__tagline">Gestión de mantenimiento minero</p>
    </div>

    <div class="login-card">
      <h1 class="login-card__title">Iniciar sesión</h1>
      <p class="login-card__sub">Ingresa tus credenciales para continuar</p>

      <form (submit)="doLogin()">
        <ion-list lines="none" class="login-list">
          <ion-item class="login-item">
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-input label="Usuario" labelPlacement="floating" type="text" [(ngModel)]="account.username" name="username" autocomplete="username"></ion-input>
          </ion-item>

          <ion-item class="login-item">
            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
            <ion-input label="Contraseña" labelPlacement="floating" type="password" [(ngModel)]="account.password" name="password" autocomplete="current-password"></ion-input>
          </ion-item>

          <div class="login-remember">
            <ion-toggle [(ngModel)]="account.rememberMe" name="rememberMe" justify="start" labelPlacement="end">Recordarme</ion-toggle>
          </div>
        </ion-list>

        <ion-button expand="block" shape="round" size="large" type="submit" id="login">Ingresar</ion-button>
      </form>
    </div>
  </div>
</ion-content>
