<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'TAB2_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="reg-list">
    @for (entity of entities; track entity.id) {
      <button type="button" class="reg-card" (click)="openPage(entity)">
        <span class="reg-card__bar"></span>
        <span class="reg-card__main">
          <span class="reg-card__code">{{ entity.name }}</span>
        </span>
        <ion-icon name="chevron-forward"></ion-icon>
      </button>
    }
  </div>

  @if (entities.length === 0) {
    <div class="reg-empty">{{ 'EMPTY_ENTITIES_MESSAGE' | translate }}</div>
  }
</ion-content>
