<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Correa Transportadora</ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        @if (platform.is('ios')) {
          <span>{{ 'DONE_BUTTON' | translate }}</span>
        } @else {
          <ion-icon name="checkmark"></ion-icon>
        }
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (form) {
    <form name="form" [formGroup]="form" (ngSubmit)="save()">
      <ion-list>
        <ion-item [hidden]="!form.id">
          <ion-label>ID</ion-label>
          <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Tag Id</ion-label>
          <ion-input type="text" name="tagId" formControlName="tagId"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descripcion</ion-label>
          <ion-input type="text" name="descripcion" formControlName="descripcion"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Area Faena</ion-label>
          <ion-select id="field_areaFaena" formControlName="areaFaenaId" [compareWith]="compareAreaFaena">
            <ion-select-option [value]="null"></ion-select-option>
            @for (areaFaenaOption of areaFaenas; track trackAreaFaenaById($index, areaFaenaOption)) {
              <ion-select-option [value]="areaFaenaOption.id">{{ areaFaenaOption.id }}</ion-select-option>
            }
          </ion-select>
        </ion-item>
      </ion-list>
    </form>
  }
</ion-content>
