/* ============================
   PALETA OREX
============================ */
:root {
  --orex-orange: #ff6400;
  --orex-orange-dark: #cc5200;
  --orex-gray: #3a3a3a;
  --orex-dark: #111111;
  --orex-border: #2a2a2a;

  --text-light: #ffffff;
  --text-muted: #b5b5b5;
}

/* ============================
   BASE GENERAL
============================ */
body, ion-app, ion-content {
  background: var(--orex-dark);
  color: var(--text-light);
  font-family: 'Roboto', sans-serif;
}

/* Inputs */
ion-item {
  --background: var(--orex-dark);
  --border-color: var(--orex-border);
  --border-width: 1px;
  --highlight-color-focused: var(--orex-orange);
}

ion-label {
  color: var(--text-muted);
}

ion-input {
  --color: var(--text-light);
}

/* Toolbars */
ion-toolbar {
  --background: #000;
  --color: white;
  border-bottom: 1px solid var(--orex-border);
}

/* ============================
   BOTONES
============================ */
ion-button {
  --border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;

  &.button-solid {
    --background: var(--orex-orange);
    --background-activated: var(--orex-orange-dark);
    --background-focused: var(--orex-orange-dark);
    --background-hover: var(--orex-orange-dark);
    color: white;
  }

  &.button-outline {
    --color: var(--orex-orange);
    --border-color: var(--orex-orange);
    --border-width: 1px;
    --background: transparent;
  }

  &.button-clear {
    --color: var(--orex-orange);
  }
}

/* Botón gris secundario */
ion-button.secondary {
  --background: var(--orex-gray) !important;
  --background-hover: #4d4d4d !important;
  --background-focused: #4d4d4d !important;
}

ion-icon {
  color: var(--orex-orange);
}

ion-icon.add {
  color: white;
}

ion-fab-button {
  --background: var(--orex-orange);
}

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
